<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{dd MMM yyyy HH:mm:ss,SSS} %-10t [%-5p]    %-50c{2} %x - %m%n" />
        </layout>
    </appender>

    <appender name="rollingFileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="maxFileSize" value="1MB" />
        <param name="MaxBackupIndex" value="2"/>
        <param name="File" value="\${user.home}/mettl_logs/video-app.log" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss,SSS} %-10t [%-5p]    %-50c{2} %x - %m%n" />
        </layout>
    </appender>

<!--    <appender name="rollingFileAppender" class="org.apache.log4j.RollingFileAppender">-->
<!--        <rollingPolicy-->
<!--                class="org.apache.log4j.rolling.TimeBasedRollingPolicy">-->
<!--            <param name="fileName" value="\${user.home}/mettl_logs/video-app.log" />-->
<!--        </rollingPolicy>-->
<!--        <triggeringPolicy-->
<!--                class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">-->
<!--            <param name="MaxFileSize" value="10485760" />-->
<!--        </triggeringPolicy>-->
<!--        <layout class="org.apache.log4j.PatternLayout">-->
<!--            <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss,SSS} %-10t [%-5p]    %-50c{2} %x - %m%n" />-->
<!--        </layout>-->
<!--    </appender>-->



    <logger name="com.mettl" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="rollingFileAppender" />
    </logger>

    <logger name="io.vertx" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="rollingFileAppender" />
    </logger>

    <logger name="io.netty" additivity="false">
        <level value="DEBUG" />
        <appender-ref ref="rollingFileAppender" />
    </logger>
    <root>
        <level value="ERROR" />
        <appender-ref ref="rollingFileAppender" />
        <!-- <appender-ref ref="EmailAppender" /> -->
    </root>
</log4j:configuration>
